<div class="card">
  <% if product.images.count > 0 %>
    <%= link_to image_tag(product.images.first.variant(resize: '200x200'), class: :card__img ), product_path(product.id), method: :get%>
  <% end %>
  <div class="card__body">
    <%= link_to product.name, product_path(product.id), method: :get, class: :card__title%>
    <%= link_to product.user.nickname, user_path(product.user.id), class: :card__user %>
  </div>
</div>